/*Default style start*/
.section-padding{
    padding: 50px 0;
}
:root{
    --primary-color: #EE3333
}
/*Default style end*/
/*header style start*/
.header-area {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #999;
    padding: 20px 0;
    z-index: 9999;
}

.logo h1 {
    margin: 0;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 900;
}

.header-area:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .6;
    z-index: -1;
}
/*header style end*/

/*slider area start*/

.single-slide-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slider-content {
    display: table;
    height: 100vh;
    width: 100%;
}

.cont-center {
    display: table-cell;
    vertical-align: middle;
}

.slider-cont h2 {
    text-transform: capitalize;
    color: var(--primary-color);
}

.slider-cont h1 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 900;
}

.slider-btn-style {
    border-color: var(--primary-color);
    padding: 15px 30px;
}

.slider-cont {
    position: relative;
    padding: 80px;
    text-align: center;
    z-index: 1;
}

.slider-cont::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: #f4f4f4;
    border: 2px solid var(--primary-color);
    opacity: .5;
    z-index: -1;
    transform: rotate(45deg)
}

.slider-cont::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background: #f4f4f4;
    border: 2px solid var(--primary-color);
    opacity: .5;
    z-index: -1;
    transform: rotate(-45deg)
}

#template-2-slider .owl-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, 0);
}

#template-2-slider .owl-dot {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    margin: 5px;
}

#template-2-slider .owl-dot.active {
    background: var(--primary-color)
}
/*slider area end*/

/*promotions area start*/
.promo-thumb img {
    width: 100%;
}
.single-promotion-item {
    position: relative;
}

.promo-cont {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 30px 10px;
    z-index: 1;
}

.promo-cont:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .5;
}
.promo-cont h3 {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.promo-cont p {
    color: #fff;
    text-transform: capitalize;
}

.promo-cont p span {
    color: var(--primary-color);
    font-weight: 700;
    font-size: large;
}

.shop-link a {
    padding: 10px 15px;
    color: #fff;
}
/*promotions area end*/

/*featured area start*/

/*featured area end*/